.background {
    -fx-background-color: #1d1d1d;
}

.label {
    -fx-font-size: 13pt;
    -fx-font-family: "Calibri";
    -fx-text-fill: black;
    -fx-opacity: 1;
}

.label-bright {
    -fx-font-size: 13pt;
    -fx-font-family: "Calibri";
    -fx-text-fill: black;
    -fx-opacity: 1;
}

.label-highheader {
    -fx-font-size: 36pt;
    -fx-font-family: "Calibri";
    -fx-text-fill: black;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 25pt;
    -fx-font-family: "Calibri";
    -fx-text-fill: black
   
}
.label-lowheader {
    -fx-font-size: 20pt;
    -fx-font-family: "Calibri";
    -fx-text-fill: black
   
}

#label-cursive {
    -fx-font-size: 28pt;
    -fx-font-family: "Calibri";
    -fx-text-fill: black
   
}


/* 
 * Push Button в стиле Metro 
 * Автор: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-

windows-8-controls-on-java/
 */
.button {
    -fx-padding: 5 22 5 22;   
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #3366cc;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-

serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}
.button-head {
    -fx-padding: 5 22 5 22;   
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #3366cc;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-

serif;
    -fx-font-size: 20pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}


.button:hover {
    -fx-background-color: #3399cc;
}



.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}
.button:pressed, .button:default:hover:pressed {
  -fx-background-color: derive(-fx-focus-color,10%);
  -fx-text-fill: #1d1d1d;
}
.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color,30%);
}

.radio-button .radio {
    -fx-border-width: 1px;
    -fx-border-color: #000;
    -fx-background-color: white;
    -fx-background-image: null;
    -fx-border-radius: 15px;
    -fx-padding: 4px;
}
.radio-button .radio:selected {
    -fx-background-color: white;
    -fx-background-image: null;
}
.radio-button -radio:armed {
    -fx-background-color: white;
    -fx-background-image: null;
}
.radio-button -radio:determinate {
    -fx-background-color: white;
    -fx-background-image: null;
}
.radio-button -radio:indeterminate {
    -fx-background-color: white;
    -fx-background-image: null;
}
.radio-button .dot {
    -fx-background-radius: 15px;
    -fx-padding: 8px;
}
#root{
    -fx-background-image: url("img/bkkk.jpg");
    -fx-background-repeat: stretch;   
    
    -fx-background-position: center center;
    
}
.root{
    -fx-background-color: #262626;
}


.scroll-pane > .viewport {
-fx-background-color: transparent;
-fx-control-inner-background: transparent;
}



.table-view{
   -fx-background-color: transparent;
}

.table-view:focused{
    -fx-background-color: transparent;
}


.table-view .column-header-background{
    -fx-background-color: linear-gradient(#1d1d1d 0%, #2d1d1d 100%);
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: white;
}

.table-row-cell{
   -fx-background-color: transparent;
  /*   -fx-background-color: -fx-table-cell-border-color, #3366cc;*/
     -fx-opacity: 1;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd{
   -fx-background-color: transparent;
    /*-fx-background-color: -fx-table-cell-border-color, #3399ff;*/
    -fx--background-opacity: 1;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */  
}
.table-view{
   -fx-background-color: transparent;
}
.table-row-cell:selected {
    -fx-background-color: #005797;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background, 
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}



.table-view > .virtual-flow > .scroll-bar > .increment-button, 
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}