.lists :selected {
    -fx-text-fill: white;
-fx-background-color: linear-gradient(#f28466 0%, #f56f49 25%, f55b31 75%, #f25327 100%);
}
.buttons {
    -fx-padding: 5 22 5 22;   
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color:#f25327;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.buttons:hover {
    -fx-background-color: #3a3a3a;
}

.buttons:pressed, .button:default:hover:pressed {
  -fx-background-color: white;
  -fx-text-fill: #1d1d1d;
}

.buttons:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.buttons:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.buttons:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.buttons:default:hover {
    -fx-background-color: derive(-fx-focus-color,30%);
}
.color-picker {
    -fx-padding: 5 11 5 11;   
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #1d1d1d;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #000000;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.color-picker:hover {
    -fx-background-color: #3a3a3a;

}

.color-picker:pressed, .button:default:hover:pressed {
  -fx-background-color: white;
  -fx-text-fill: #1d1d1d;
}

.color-picker:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.color-picker:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.color-picker:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.color-picker:default:hover {
    -fx-background-color: derive(-fx-focus-color,30%);
}
.table-view {
    
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 10pt;
    -fx-text-fill: #d8d8d8;
    
}



